.buttonsContainer {
    display: flex;
    gap: 21px;
    margin-top: 27px;
}

.clock {

}

.watch {
    font-size: 20px;
}

.watch strong {
    font-size: 20px;
}

.more {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}